<a href="https://colab.research.google.com/github/VAMSIKOLLURI01/pwskills/blob/main/20_aug_2k23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Write a program to reverse a string
a="vamsi"
b=a[::-1]
b

'ismav'

In [ ]:
#Check if a string is a palindrome.
n=input("enter a string")
if n == n[::-1]:
  print(n+ "is a palindrome")
else:
  print(n+ "is not a palindrome")

enter a stringwow
wowis a palindrome

In [ ]:
#Convert a string to uppercase
a="vamsi"
a.upper()

'VAMSI'

In [ ]:
# Convert a string to lowercase.
a="NAVYA"
a.lower()

'navya'

In [ ]:
# Count the number of vowels in a string.
string=input("enter a string")
vowels=0
for i in string:
  if( i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
      vowels=vowels+1
print("the no vowels are:",vowels)

enter a stringufhfl;o
the no vowels are: 2

In [ ]:
#Count the number of consonants in a string.
input_string = "Hello World"
consonant_count = 0

for char in input_string:
    # Check if the character is an alphabet and not a vowel
    if char.isalpha() and char.lower() not in {'a', 'e', 'i', 'o', 'u'}:
        consonant_count += 1

print(f"The number of consonants in '{input_string}' is: {consonant_count}")

The number of consonants in 'Hello World' is: 7

In [ ]:
#7. remove all whitespaces from a string.
n="hi rah mawa"
re=n.replace(" ","")
re

'hirahmawa'

In [ ]:
#8. Find the length of a string without using the `len()` function.
v="vamsi"
count=0
for i in v:
  count=count+1
print("length of the string:",count)

length of the string: 5

In [ ]:
#9. Check if a string contains a specific word.
string=input("enter a string:")
word="mawa"
if word in  string:
  print("present")
else:
  print("not present")

enter a string:mawa bro
present

In [ ]:
#Replace a word in a string with another word
v="navya is good girl"
s=v.replace("good","bad")
s

'navya is bad girl'

In [ ]:
#Count the occurrences of a word in a string
word="n"
string=input("enter a string:")
count=0
for i in string:
  if i in word:
   count=count+1
print("the count of the word is:",count)

enter a string:fjtkhtkftugitkgujtgfh
the count of the word is: 0

In [ ]:
# Find the first occurrence of a word in a string.
string="vamsi is from AIML"
word=""
for i in string:
  if i ==" ":
    break
  else:
    word+=i

print(word)

vamsi

In [ ]:
#13. Find the last occurrence of a word in a string
input_string = "vamsi is good boy"
search_word = "boy"

last_occurrence_index = -1
current_index = 0

while current_index != -1:
    current_index = input_string.find(search_word, current_index + 1)
    if current_index != -1:
        last_occurrence_index = current_index

print(f"The last occurrence of '{search_word}' is at index {last_occurrence_index}")

The last occurrence of 'boy' is at index 14

In [ ]:
#. Split a string into a list of words.
string="pavan is bad boy"
b=string.split()
b

['pavan', 'is', 'bad', 'boy']

In [ ]:
# Join a list of words into a string.
lst = ['j','o','g','i']
string="".join(lst)
print(string)

jogi

In [ ]:
'''. Convert a string where words are separated by spaces to one where words
are separated by underscores.'''
string="crazyvamsi 01"
v=string.replace(" ","_")
print(v)

crazyvamsi_01

In [ ]:
#17. Check if a string starts with a specific word or phrase.
inputstring="hello is this vamsi"
word="mdbvd,mbv"
if inputstring.startswith(word):
  print("string starts with a specific word")
else:
  print("string does not starts with a specific word")

string does not starts with a specific word

In [ ]:
# Check if a string ends with a specific word or phrase.
inputstring="hello is this vamsi"
word="vamsi"
if inputstring.endswith(word):
  print("string starts with a given word")
else:
  print("string does not starts with a given word")

string starts with a given word

In [ ]:
#Convert a string to title case (e.g., "hello world" to "Hello World"
string="hello world"
v=string.upper()
v

'HELLO WORLD'

In [ ]:
#find the longest word in a string.
string="vamsi  is efficient coder"
print(max(string.split(),key=len))

efficient

In [ ]:
# Find the shortest word in a string.
string="vamsi  is efficient coder"
print(min(string.split(),key=len))

is

In [ ]:
# Reverse the order of words in a string
a="vamsi"
b=a[::-1]
b

'ismav'

In [ ]:
# Check if a string is alphanumeric
string="vamsi"
b=string.isalpha()
b

True

In [ ]:
# Extract all digits from a string.
input_string = "abc123xyz456"

digits = ""
for char in input_string:
    if char.isdigit():
        digits += char
print(digits)

123456

In [ ]:
#25. Extract all alphabets from a string;
input_string = "abc123xyz456"

alphabets = ""
for char in input_string:
    if char.isalpha():
        alphabets += char

print(alphabets)

abcxyz

In [ ]:
# Count the number of uppercase letters in a string.
string="vAmSiKrIsHnA"
count=0
for i in string:
  if i.isupper():
    count=count+1
print(count)

6

In [ ]:
#Count the number of lowercase letters in a strin
string="VNfjGUYGjJHVKJF"
count=0
for i in string:
  if i.islower():
    count=count+1
print(count)

3

In [ ]:
# Swap the case of each character in a string.
string="VkjjhJYFjvfFfF"
swap_case=string.swapcase()
print(swap_case)

vKJJHjyfJVFfFf

In [ ]:
#Remove a specific word from a strin
string="vamsi is good boy"
word="good"
v=string.replace(word,"")
v

'vamsi is  boy'

In [ ]:
#. Check if a string is a valid email address
def is_valid_email(email):
    # Check for the presence of '@' and '.'
    if '@' in email and '.' in email:
        # Check that '@' appears before '.'
        if email.index('@') < email.index('.'):
            # Check that there is at least one character before '@' and after '.'
            if email.index('@') > 0 and email.index('.') < len(email) - 1:
                return True

    return False

# Example usage
email1 = "user@example.com"
email2 = "invalid-email"
email3 = "user@.com"

In [ ]:
print(is_valid_email(email3))

True

In [ ]:
#31. Extract the username from an email address string
email="vamsikrishnakolluri01@gamil.com"
username=email.split("@")[0]
print(username)

vamsikrishnakolluri01

In [ ]:
# domain name from an email address
email="vamsikrishnakolluri01@gamil.com"
username=email.split("@")[1]
print(username)

gamil.com

In [ ]:
#3. Replace multiple spaces in a string with a single space.
string="vamsi  is   very  hunmble  heart  person"
v=string.replace("  "," ")
v

'vamsi is  very hunmble heart person'

In [ ]:
url = input("Enter a URL: ")

# Check if the URL starts with a valid scheme
valid_schemes = ["http", "https", "ftp"]
if any(url.lower().startswith(scheme) for scheme in valid_schemes):
    # Check if there is a domain after the scheme
    if "." in url:
        print(f"{url} is a valid URL.")
    else:
        print(f"{url} is not a valid URL. Missing domain.")
else:
    print(f"{url} is not a valid URL. Invalid scheme.")

Enter a URL: https://chat.openai.com/c/2387f499-052f-449d-830e-b36b07b4b56f
https://chat.openai.com/c/2387f499-052f-449d-830e-b36b07b4b56f is a valid URL.

In [ ]:
#Extract the protocol (http or https) from a URL string.
url="https://colab.research.google.com/drive/1Tr9F2dQFMo0qoghptoEidADwc6R3XoIc#scrollTo=2bmypD-Rrn17"
protocol=url.split(":")[0]
print(protocol)

https

In [ ]:
# Find the frequency of each character in a string
v="vamsivadsgygyuinsa"
for i in v:
  print(i,"=",v.count(i),'times')

v = 2 times
a = 3 times
m = 1 times
s = 3 times
i = 2 times
v = 2 times
a = 3 times
d = 1 times
s = 3 times
g = 2 times
y = 2 times
g = 2 times
y = 2 times
u = 1 times
i = 2 times
n = 1 times
s = 3 times
a = 3 times

In [ ]:
#37. Remove all punctuation from a string.
import string

original_string = "this is puncivations from code."

no_punctuation = original_string.translate(str.maketrans("", "", string.punctuation))

print("Original String:", original_string)
print("String without Punctuation:", no_punctuation)

Original String: this is puncivations from code.
String without Punctuation: this is puncivations from code

In [ ]:
#Check if a string contains only digits
string="1234567"
if string.isdigit():
  print("the string is numaric")
else:
  print("the string is not a numaric")

the string is numaric

In [ ]:
#. Check if a string contains only alphabets
string="abckjfjfge"
if string.isalpha():
  print("the string is alphabetic")
else:
  print("the string is not a alphabatic")

the string is alphabetic

In [ ]:
#0. Convert a string to a list of characters.
string="hello vamsi"
new=list("string")
new

['s', 't', 'r', 'i', 'n', 'g']

In [ ]:
#check if two string are anagram are not
string1="vamsi"
string2="ismav"
a=''.join(string1.split()).lower()
b=''.join(string2.split()).lower()
if sorted(a)==sorted(b):
  print("the strings are anagram")
else:
  print("tha string are not a anagram")

the strings are anagram

In [ ]:
#42. Encode a string using a Caesar cipher.
original_text = "Hello, World!"
shift_amount = 3

encrypted_text = ''.join([chr((ord(char) - ord('a' if char.islower() else 'A') + shift_amount) % 26 + ord('a' if char.islower() else 'A')) if char.isalpha() else char for char in original_text])

print("Original Text:", original_text)
print(f"Encoded Text (Caesar Cipher with shift {shift_amount}):", encrypted_text)

Original Text: Hello, World!
Encoded Text (Caesar Cipher with shift 3): Khoor, Zruog!

In [ ]:
#Decode a Caesar cipher encoded string
encoded_text = "Khoor, Zruog!"
shift_amount = 3

decoded_text = ''.join([chr((ord(char) - ord('a' if char.islower() else 'A') - shift_amount) % 26 + ord('a' if char.islower() else 'A')) if char.isalpha() else char for char in encoded_text])

print("Encoded Text:", encoded_text)
print(f"Decoded Text (Caesar Cipher with shift {shift_amount}):", decoded_text)

Encoded Text: Khoor, Zruog!
Decoded Text (Caesar Cipher with shift 3): Hello, World!

In [ ]:
#4. Find the most frequent word in a string.
input_string = "This is an example string. This string contains some words, and some words may repeat."

# Remove punctuation and convert to lowercase
cleaned_string = ''.join(char.lower() if char.isalpha() or char.isspace() else ' ' for char in input_string)

# Split the cleaned string into words
words = cleaned_string.split()

# Count word frequencies using a dictionary
word_freq = {}
for word in words:
    word_freq[word] = word_freq.get(word, 0) + 1

# Find the most frequent word
most_frequent_word = max(word_freq, key=word_freq.get)

print("Input String:", input_string)
print("Most Frequent Word:", most_frequent_word)
print("Frequency:", word_freq[most_frequent_word])

Input String: This is an example string. This string contains some words, and some words may repeat.
Most Frequent Word: this
Frequency: 2

In [ ]:
#Find all unique words in a string.
input_string = "Hello world, this is an example. This is a simple example."
input_string = input_string.lower()
words = input_string.split()
unique_words = set(words)
unique_words_list = list(unique_words)
print(unique_words_list)

['an', 'this', 'a', 'simple', 'example.', 'hello', 'world,', 'is']

In [ ]:
#46. Count the number of syllables in a string
input_string = "Count the number of syllables in a string"

# Step 1: Split the input string into words
words = input_string.split()

total_syllables = 0

# Step 2: Count syllables in each word
for word in words:
    vowels = "aeiouy"
    count = 0
    prev_char = None

    for char in word.lower():
        if char in vowels and (prev_char is None or prev_char not in vowels):
            count += 1
        prev_char = char

    # Adjust count for words ending with 'e'
    if word.lower().endswith('e') and count > 1:
        count -= 1

    # Step 3: Accumulate the total syllable count
    total_syllables += count

# Step 4: Print the result
print(f"Total syllables: {total_syllables}")

Total syllables: 11

In [ ]:
#47. Check if a string contains any special characters.
input_string = "Check if a string contains any special characters!"

# Check for special characters
special_characters = "!@#$%^&*()-_+=[]{}|;:'\",.<>?/"
contains_special_characters = any(char in special_characters for char in input_string)

# Print the result
if contains_special_characters:
    print("The string contains special characters.")
else:
    print("The string does not contain any special characters.")

The string contains special characters.

In [ ]:
#48. Remove the nth word from a string
input_string = "Remove the nth word from a string."
n = 3

# Split the string into words
words = input_string.split()

# Check if the value of n is valid
if 1 <= n <= len(words):
    # Remove the nth word
    del words[n - 1]

    # Join the remaining words back into a string
    result_string = ' '.join(words)

    print(f"Result: {result_string}")
else:
    print("Invalid value of n.")

Result: Remove the word from a string.

In [ ]:
# Insert a word at the nth position in a string.
input_string = "Insert a word at the nth position in a string."
word_to_insert = "new"
n = 4

# Split the string into words
words = input_string.split()

# Check if the value of n is valid
if 1 <= n <= len(words) + 1:
    # Insert the word at the nth position
    words.insert(n - 1, word_to_insert)

    # Join the modified list of words back into a string
    result_string = ' '.join(words)

    print(f"Result: {result_string}")
else:
    print("Invalid value of n.")

Result: Insert a word new at the nth position in a string.

In [ ]:
#50. Convert a CSV string to a list of lists.
import csv
import io

csv_string = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
csv_list = list(csv.reader(io.StringIO(csv_string)))

# Print the result
for row in csv_list:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

List Based Practice Problem :

In [ ]:
#Create a list with integers from 1 to 10
v=[1,2,3,4,5,6,7,8,9,10]
v

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Find the length of a list without using the `len()` function.
a=[1,2,3,3,4,4,45]
count=0
for i in a:
  count=count+1
print("the lenth of the function :",count)

the lenth of the function : 7

In [ ]:
#3. Append an element to the end of a list.
a=[1,2,3,3,4,5,6,6,7,7,8]
a.append(8)
a

[1, 2, 3, 3, 4, 5, 6, 6, 7, 7, 8, 8]

In [ ]:
#nsert an element at a specific index in a list
a=[1,2,3,3,4,5,6,6,7,7,8]
a.insert(9,10)
a

[1, 2, 3, 3, 4, 5, 6, 6, 7, 10, 7, 8]

In [ ]:
#. Remove an element from a list by its value.
a=[1,2,3,3,4,5,6,6,7,7,8]
a.remove(8)
a

[1, 2, 3, 3, 4, 5, 6, 6, 7, 7]

In [ ]:
#. Remove an element from a list by its index.
a=[1,2,3,3,4,5,6,6,7,7,8]
a.remove(a[2])
a

[1, 2, 3, 4, 5, 6, 6, 7, 7, 8]

In [ ]:
# Check if an element exists in a list.

Modified list: [1, 2, 3, 4, 5, 6, 6, 7, 7, 8]

In [ ]:
## Check if an element exists in a list.
a=[1,1,2,2,4,5,6,6]
element_check=5
if element_check in a:
  print("element exists in a list")
else:
  print("element exists is not in a list")

element exists in a list

In [ ]:
# Find the index of the first occurrence of an element in a list.
my_list = [1, 2, 3, 4, 2, 2, 5, 6, 2]

# Find the index of the first occurrence of element '2' in the list
index_of_2 = my_list.index(2)

print("Index of 2:", index_of_2)

Index of 2: 1

In [ ]:
#9. Count the occurrences of an element in a list
a=[1,2,3,3,4,4,45]
count=0
for i in a:
  count=count+1
print("the lenth of the function :",count)

the lenth of the function : 7

In [ ]:
# Sort a list in ascending order.
mylist=[34,5,68,78,65,9]
sorted_order=sorted(mylist)
print("the ascending order:",sorted_order)

the ascending order: [5, 9, 34, 65, 68, 78]

In [ ]:
#12. Sort a list in descending order.
mylist=[34,5,68,78,65,9]
sorted_order=sorted(mylist,reverse=True)
print("the ascending order:",sorted_order)

the ascending order: [78, 68, 65, 34, 9, 5]

In [ ]:
#Create a list of even numbers from 1 to 20.
even_numbers = [num for num in range(1, 21) if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#Create a list of odd numbers from 1 to 20.
odd_numbers = [num for num in range(1, 21) if num % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#Find the sum of all elements in a list.
mylist=[1,2,3,34,5,6]
a=sum(mylist)
a

51

In [ ]:
#find the maximum value in a list.
my_list=[1,2,3,446,78,67,7]
a=max(my_list)
a

446

In [ ]:
#Find the minimum value in a list.
mylist=[1,2,3,4,46,6,547,78]
a=min(mylist)
a

1

In [ ]:
#8. Create a list of squares of numbers from 1 to 10.
mylist=[num**2 for num in range(0,11)]
print(mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Create a list of random numbers.
import random
random_number=[random.randint(1,100) for _ in range(5)]
print(random_number)

[90, 84, 57, 42, 25]

In [ ]:
#emove duplicates from a list
mylist=[12,23,4,55,667,55,12,4]
duplicate_list=[list(set(mylist))]
print(duplicate_list)

[[4, 12, 23, 55, 667]]

In [ ]:
#1. Find the common elements between two lists.
mylist1=[1,2,3,4,5,3,55,435,35,6]
mylist2=[1,2,3,4,5,3,42,534,54,34]
sorted_list=[list(set(mylist1) & set(mylist2))]
print(sorted_list)

[[1, 2, 3, 4, 5]]

In [ ]:
# Merge two lists
list1=[1,2,3,4,6,7,8]
list2=[9,10,11,12,13]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
#Multiply all elements in a list by 2.
original_list = [1, 2, 3, 4, 5]
result_list = [element * 2 for element in original_list]

print("Original List:", original_list)
print("List after multiplying each element by 2:", result_list)

Original List: [1, 2, 3, 4, 5]
List after multiplying each element by 2: [2, 4, 6, 8, 10]

In [ ]:
# Filter out all even numbers from a list.
list1=[1,2,3,4,5,6,7,8,9,10]
sortedlist=[number for number in list1 if number % 2 == 0]
print("original list:",list1)
print("sortedlist:",sortedlist)

original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sortedlist: [2, 4, 6, 8, 10]

In [ ]:
#Convert a list of strings to a list of integer
list1=["1","2","3","4"]
a=list(map(int,list1))
a

[1, 2, 3, 4]

In [ ]:
#7. Convert a list of integers to a list of strings.
list2=[1,2,3,4,5,6,7]
a=list(map(str,list2))
a

['1', '2', '3', '4', '5', '6', '7']

In [ ]:
# Flatten a nested list
nested_list = [[1, 2, [3]], [4, [5, 6]], 7, [8, 9]]
flattened_list = []

while nested_list:
    element = nested_list.pop(0)
    if isinstance(element, list):
        nested_list = element + nested_list
    else:
        flattened_list.append(element)

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Create a list of the first 10 Fibonacci numbers.
# Initialize the first two Fibonacci numbers
fibonacci_numbers = [0, 1]

# Generate the next Fibonacci numbers
for i in range(2, 10):
    next_fibonacci = fibonacci_numbers[-1] + fibonacci_numbers[-2]
    fibonacci_numbers.append(next_fibonacci)

print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#. Check if a list is sorted.
# Example lists
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [3, 1, 4, 2, 5]

# Check if a list is sorted
is_sorted_sorted_list = True
for i in range(len(sorted_list) - 1):
    if sorted_list[i] > sorted_list[i + 1]:
        is_sorted_sorted_list = False
        break

is_sorted_unsorted_list = True
for i in range(len(unsorted_list) - 1):
    if unsorted_list[i] > unsorted_list[i + 1]:
        is_sorted_unsorted_list = False
        break

print("Is sorted_list sorted?", is_sorted_sorted_list)    # Output: True
print("Is unsorted_list sorted?", is_sorted_unsorted_list)  # Output: False

Is sorted_list sorted? True
Is unsorted_list sorted? False

In [ ]:
# Rotate a list to the left by `n` positions
# Define a list
my_list = [1, 2, 3, 4, 5]

# Define the number of positions to rotate
n = 2

# Rotate the list to the left by n positions
for i in range(n):
    first_element = my_list[0]  # Store the first element
    for j in range(len(my_list)-1):
        my_list[j] = my_list[j+1]  # Shift elements to the left
    my_list[-1] = first_element  # Assign the first element to the last position

# Print the rotated list
print("Rotated list:", my_list)

Rotated list: [3, 4, 5, 1, 2]

In [ ]:
#2. Rotate a list to the right by `n` positions# Define a list
my_list = [1, 2, 3, 4, 5]

# Define the number of positions to rotate
n = 2

# Rotate the list to the right by n positions
for i in range(n):
    last_element = my_list[-1]  # Store the last element
    for j in range(len(my_list)-1, 0, -1):
        my_list[j] = my_list[j-1]  # Shift elements to the right
    my_list[0] = last_element  # Assign the last element to the first position

# Print the rotated list
print("Rotated list:", my_list)

Rotated list: [4, 5, 1, 2, 3]

In [ ]:
#Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 51) if all(num % i != 0 for i in range(2, int(num ** 0.5) + 1))]
print("Prime numbers up to 50:", prime_numbers)

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
# Split a list into chunks of size `n`
list1=[1,2,3,4,56,6,77]
n= 3
chunks = [list1[i:i+n] for i in range(0, len(list1), n)]

In [ ]:
#Find the second largest number in a list
# Define a list
my_list = [10, 5, 20, 15, 30]

sorted_list = sorted(my_list, reverse=True)
second_largest = sorted_list[1]
print("Second largest number:", second_largest)

Second largest number: 20

In [ ]:
#Replace every element in a list with its square.
lis1=[2,3,4,5,6]
list2=[i**2 for i in list1]
print(list2)

[1, 4, 9, 16, 3136, 36, 5929]

In [ ]:
''' Convert a list to a dictionary where list elements become keys and their
indices become values'''
# Original list
original_list = ['apple', 'banana', 'orange', 'grape']

# Convert list to dictionary using dictionary comprehension
dictionary = {value: index for index, value in enumerate(original_list)}

print(dictionary)

{'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

In [ ]:
#. Shuffle the elements of a list randomly.
import random
list1=[1,2,3,4,5,6]
random.shuffle(list1)
print(list1)

[3, 1, 2, 5, 4, 6]

In [ ]:
#Create a list of the first 10 factorial numbers.
def factorial(n):
  if n==0:
   return 1
  else:
    return(n*n-1)
factorial_list = [factorial(n) for n in range(10)]
print(factorial_list)

[1, 0, 3, 8, 15, 24, 35, 48, 63, 80]

In [ ]:
#Check if two lists have at least one element in common
list1=[1,2,3,35345,56467,78,546,89]
list2=[98743,64,677,346,5,756,7,1]
if any(element in list1 for element in list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [ ]:
# Remove all elements from a list
list=[1,2,3,4,6,7]
list.clear()
list

[]

In [ ]:
# Replace negative numbers in a list with 0.
# Original list
my_list = [1, -2, 3, -4, 6, -7]
my_list = [x if x >= 0 else 0 for x in my_list]
print(my_list)

[1, 0, 3, 0, 6, 0]

In [ ]:
#Convert a string into a list of words.
# Example string
my_string = "Hello, how are you?"

# Convert the string into a list of words
word_list = my_string.split()

print(word_list)

['Hello,', 'how', 'are', 'you?']

In [ ]:
#Convert a list of words into a string.
my_string=["vamsi","is","good","boy"]
a= ' '.join(my_string)
a

'vamsi is good boy'

In [ ]:
#. Create a list of the first `n` powers of 2.
# Define the value of n
n = 5
powers_of_2 = [2**i for i in range(n)]
print(powers_of_2)

[1, 2, 4, 8, 16]

In [ ]:
#6. Find the longest string in a list of strings.
list1=["vamsi","is","krishn","kolluri","mawabrohappy"]
b=max(list1,key=len)
b

'mawabrohappy'

In [ ]:
# Find the shortest string in a list of strings.
list1=["vamsi","is","krishn","kolluri","mawabrohappy"]
b=min(list1,key=len)
b

'is'

In [ ]:
#. Create a list of the first `n` triangular numbers.
n = 5
triangular_numbers = [i * (i + 1) // 2 for i in range(1, n + 1)]
print(triangular_numbers)

[1, 3, 6, 10, 15]

In [ ]:
#. Check if a list contains another list as a subsequence.
lst = [1,2,33,4,5]
sub_lst = [1,33]
for i in lst:
  if i==sub_lst:
    print("it has a subsequence")
  else:
    print("it has not a subsequence")

it has not a subsequence
it has not a subsequence
it has not a subsequence
it has not a subsequence
it has not a subsequence

In [ ]:
# Example lists
main_list = [1, 2, 3, 4, 5, 6, 7, 8]
sub_list = [3, 5, 7]

# Check if sub_list is a subsequence of main_list
if all(item in main_list for item in sub_list):
    print("sub_list is a subsequence of main_list")
else:
    print("sub_list is not a subsequence of main_list")

sub_list is a subsequence of main_list

In [ ]:
#Swap two elements in a list by their indices.

my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

print(my_list)

[1, 4, 3, 2, 5]

tuple based practice problem

In [ ]:
#. Create a tuple with integers from 1 to 5
tuple1=(1,2,3,4,5)
print(tuple1)

(1, 2, 3, 4, 5)

In [ ]:
#2. Access the third element of a tuple.
t1=(1,2,3,4,5,6)
t1[2]

3

In [ ]:
#Find the length of a tuple without using the `len()` function.
tuple1=(1,2,3,4,5,6)
count=0
for i in tuple1:
  count=count+1
print("the lenth of he string:",count)

the lenth of he string: 6

In [ ]:
#Count the occurrences of an element in a tuple
tuple1=(1,2,3,4,2,5,6,7,2)
occurance_element=2
count=0
for i in tuple1:
  if i == occurance_element:
    count=count+1
print("Occurrences of",occurance_element, "in the tuple:", count)

Occurrences of 2 in the tuple: 3

In [ ]:
#Find the index of the first occurrence of an element in a tuple.
my_tuple = (1, 2, 3, 4, 2, 5, 2)
element_to_find = 2
index = my_tuple.index(element_to_find)
print("Index of the first occurrence of", element_to_find, "in the tuple:", index)

In [ ]:
#Check if an element exists in a tuple.
tuple1=(1,2,3,4,5,6,7)
exitited_element=3
if exitited_element in tuple1:
   print ("existed")
else:
  print("not existed")

existed

In [ ]:
#7. Convert a tuple to a list.
tuple1 = (1, 2, 3, 4, 5, 6)
list1=[]
for i in tuple1:
  list1.append(i)


print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
#. Convert a list to a tuple.
list1=[1,2,3,4,5]
b=tuple(list1)
b

(1, 2, 3, 4, 5)

In [ ]:
#Unpack the elements of a tuple into variables
my_tuple=(1,2,3,4)
a, b, c, d= my_tuple
print("a:",a)
print("b:",b)
print("c:",c)
print("d:",d)

a: 1
b: 2
c: 3
d: 4

In [ ]:
#Create a tuple of even numbers from 1 to 10.
a=tuple(i for i in range(2,11,2))
print(a)

(2, 4, 6, 8, 10)

In [ ]:
#Create a tuple of odd numbers from 1 to 10.
odd_numbers_tuple = tuple(x for x in range(1, 11, 2))
print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

In [ ]:
#Concatenate two tuples
tuple1=(1,2,3,4)
tuple2=(5,6,7,8)
concatenat=tuple1 + tuple2
print(concatenat)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
# Repeat a tuple three times.
teple1=(1,2,3,4)
a=teple1 * 3
print(a)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
#Check if a tuple is empty
empty_tuple=()
if not empty_tuple:
  print("the tuple is empty")
else:
  print("the tuple is not empty")

the tuple is not empty

In [ ]:
#Create a nested tuple
nested_tuple=((1,2,3),(3,2,1),(3,4,4))
print(nested_tuple)

((1, 2, 3), (3, 2, 1), (3, 4, 4))

In [ ]:
#. Access the first element of a nested tuple.
my_tuple=(1,2,3,4,5)
a= my_tuple[0]
a

1

In [ ]:
#17. Create a tuple with a single element.
tuple1=(1,)
print(tuple1)

(1,)

In [ ]:
#18. Compare two tuples.
t1=(1,2,3,4)
t2=(4,3,2,1)
if t1==t1:
  print ("this is are equal")
else:
  print("this is print nothing ")

this is are equal

In [ ]:
#7. Convert a tuple to a list.
# Example tuple
tuple1 = (1, 2, 3, 4, 5, 6)
list1 = list(tuple1)
list1.clear()
print(list1)

[]

In [ ]:
#Slice a tuple
t1=(1,3,2,3,4,6)
a=t1[2:5]
a

(2, 3, 4)

In [ ]:
# Find the maximum value in a tuple
tuple1=(1,2,4,5,6,77)
print(max(tuple1))

77

In [ ]:
# Find the minimum value in a tuple.
tuple1=(1,2,4,5,6,77)
print(min(tuple1))

1

In [6]:
#onvert a string to a tuple of characters.
# Using tuple() constructor
string = "hello"
tuple_of_chars = tuple(string)
print(tuple_of_chars)  # Output: ('h', 'e', 'l', 'l', 'o')

# Using parentheses
string = "world"
tuple_of_chars = tuple(string)
print(tuple_of_chars)  # Output: ('w', 'o', 'r', 'l', 'd')

('h', 'e', 'l', 'l', 'o')
('w', 'o', 'r', 'l', 'd')

In [9]:
#Convert a tuple of characters to a string.
v=('h', 'e', 'l', 'l', 'o')
b=' '.join(v)
print(b)

h e l l o

In [12]:
#. Create a tuple from multiple data types.
tuple1=(10,"vamsi",19.5)
print("mixed_tuple:",tuple1)

mixed_tuple: (10, 'vamsi', 19.5)

In [15]:
#. Check if two tuples are identical.
tuple1=(1,2,3,4)
tuple2=(1,2,3,4)
if tuple1 == tuple2:
  print("tuples are identical")
else:
  print("tuples are not identical")

tuples are identical

In [17]:
#Sort the elements of a tuple.
elements = (1, 44, 6, 7, 2, 3, 4)
# Sort the elements of the tuple
sorted_elements = sorted(elements)
print(sorted_elements)

[1, 2, 3, 4, 6, 7, 44]

In [18]:
#. Convert a tuple of integers to a tuple of strings.
# Define a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Convert each integer to a string using list comprehension
tuple_of_strings = tuple(str(i) for i in tuple_of_integers)

print(tuple_of_strings)

('1', '2', '3', '4', '5')

In [19]:
#. Merge two tuples.
tuple1=(1,2,3,5,6)
tuple2=(7,8,9,10)
merge_string=tuple1 + tuple2
print(merge_string)

(1, 2, 3, 5, 6, 7, 8, 9, 10)

In [20]:
# Flatten a nested tuple.
# Example nested tuple
nested_tuple = (1, 2, (3, 4), (5, (6, 7), 8), 9)

# Flatten the nested tuple
flattened_tuple = ()
for item in nested_tuple:
    if isinstance(item, tuple):
        for subitem in item:
            if isinstance(subitem, tuple):
                flattened_tuple += subitem
            else:
                flattened_tuple += (subitem,)
    else:
        flattened_tuple += (item,)

print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [21]:
#Create a tuple of the first 5 prime numbers
# Initialize a list to store prime numbers
primes = []

# Initialize a number to check for prime
number = 2

# Check for the first 5 prime numbers
while len(primes) < 5:
    is_prime = True
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(number)
    number += 1

# Convert the list of primes to a tuple
tuple_of_primes = tuple(primes)

print(tuple_of_primes)

(2, 3, 5, 7, 11)

In [23]:
#Check if a tuple is a palindrome
# Define a tuple
input_tuple = (1, 2, 3, 2, 1)
a=input_tuple == input_tuple[::-1]
print(a)

True

In [24]:
# Create a tuple of squares of numbers from 1 to 5.
tuples=tuple(i**2 for i in range (0,6))
print(tuples)

(0, 1, 4, 9, 16, 25)

In [29]:
#Filter out all even numbers from a tuple.
tuples = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter even numbers from the tuple
even_numbers = tuple(num for num in tuples if num % 2 == 0)

# Check if there are any even numbers in the tuple
if even_numbers:
    print("The even numbers:", even_numbers)
else:
    print("Nothing")

The even numbers: (2, 4, 6, 8, 10)

In [32]:
#. Multiply all elements in a tuple by 2
original_tuple = (1, 2, 3, 4, 5)
multiplied_tuple = tuple(x * 2 for x in original_tuple)
print(multiplied_tuple)

(2, 4, 6, 8, 10)

In [33]:
# Create a tuple of random numbers
import random
tuple_length = 5
random_numbers_tuple = tuple(random.randint(1, 100) for _ in range(tuple_length))
print(random_numbers_tuple)

(87, 69, 58, 50, 13)

In [34]:
#8. Check if a tuple is sorted.

ele=(1,3,34,54,5547,89)
a=sorted(ele)
print(a)

[1, 3, 34, 54, 89, 5547]

In [35]:
#. Rotate a tuple to the left by `n` positions
ele=(1,2,3,4,5)
n=2
stuple=ele[n:]+ele[:n]
print(stuple)

(3, 4, 5, 1, 2)

In [36]:
#Rotate a tuple to the right by `n` positions.
ele=(1,2,3,4,5)
n=2
sorted_tuple=ele[:n]+ele[n:]
print(sorted_tuple)

(1, 2, 3, 4, 5)

In [37]:
# Create a tuple of the first 5 Fibonacci numbers
# Initialize a list to store Fibonacci numbers
fibonacci = [0, 1]

# Generate the Fibonacci sequence
while len(fibonacci) < 5:
    next_number = fibonacci[-1] + fibonacci[-2]
    fibonacci.append(next_number)

# Convert the list of Fibonacci numbers to a tuple
tuple_of_fibonacci = tuple(fibonacci)

print(tuple_of_fibonacci)

(0, 1, 1, 2, 3)

In [39]:
# Create a tuple from user input.
a=int(input("eneter the tupes:",))

eneter the tupes:6

In [48]:
#. Swap two elements in a tu
# Define the original tuple
original_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list to make modifications
modified_list = list(original_tuple)

# Swap the elements at indices 1 and 3
modified_list[1], modified_list[3] = modified_list[3], modified_list[1]

# Convert the modified list back to a tuple
swapped_tuple = tuple(modified_list)

print(swapped_tuple)

(1, 4, 3, 2, 5)

In [52]:
#Reverse the elements of a tuple.
ele=(1,2,3,4,5,6,7)
a=ele[::-1]
a

(7, 6, 5, 4, 3, 2, 1)

In [53]:
# Create a tuple of the first `n` powers of 2
# Define the value of n
n = 5

# Create a tuple of the first n powers of 2
powers_of_2_tuple = tuple(2 ** i for i in range(n))

print(powers_of_2_tuple)

(1, 2, 4, 8, 16)

In [54]:
# Find the longest string in a tuple of strings.
ele= ("apple", "banana", "orange", "strawberry", "kiwi")
longest_string = max(tuple_of_strings, key=len)
print(longest_string)

1

In [55]:
#7. Find the shortest string in a tuple of strings
ele= ("apple", "banana", "orange", "strawberry", "kiwi")
shortest_string = min(tuple_of_strings, key=len)
print(shortest_string)

1

In [56]:
#create a tuple of the first `n` triangular numbers.
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers
triangular_numbers_tuple = tuple(i * (i + 1) // 2 for i in range(1, n + 1))

print(triangular_numbers_tuple)

(1, 3, 6, 10, 15)

In [57]:
# Check if a tuple contains another tuple as a subsequence.
# Define the larger tuple
larger_tuple = (1, 2, 3, 4, 5, 6, 7)

# Define the smaller tuple
smaller_tuple = (3, 4, 5)

# Check if the smaller tuple is a subsequence of the larger tuple
def is_subsequence(larger, smaller):
    n = len(smaller)
    for i in range(len(larger) - n + 1):
        if larger[i:i+n] == smaller:
            return True
    return False

# Check if smaller_tuple is a subsequence of larger_tuple
if is_subsequence(larger_tuple, smaller_tuple):
    print("The smaller tuple is a subsequence of the larger tuple.")
else:
    print("The smaller tuple is not a subsequence of the larger tuple.")

The smaller tuple is a subsequence of the larger tuple.

In [ ]:
# Create a tuple of alternating 1s and 0s of length `n`
n = 6
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(alternating_tuple)

Set Based Practice Problem :

In [58]:
## Create a set with integers from 1 to 5 using curly braces
number_set = {1, 2, 3, 4, 5}

print(number_set)

{1, 2, 3, 4, 5}

In [61]:
# Add an element to a set.
set1={1,2,3,4}
set1.add(5)
print(set1)

{1, 2, 3, 4, 5}

In [62]:
#3. Remove an element from a set.
set1={1,2,3,4}
set1.remove(2)
print(set1)

{1, 3, 4}

In [63]:
#. Check if an element exists in a set.
set1={1,2,3,5,6,67}
exested_element=67
if exested_element in set1:
  print("excisted")
else:
  print("not execisted")

excisted

In [64]:
#Find the length of a set without using the `len()` functio
set1 = {1, 2, 3, 4, 5}
count = 0
for _ in set1:
    count += 1
print("Length of the set:", count)

Length of the set: 5

In [66]:
#clear all elements from a set.
set1 = {1, 2, 3, 4, 5}

# Clear all elements from the set
set1.clear()

print("Set after clearing:", set1)

Set after clearing: set()

In [67]:
# Create a set of even numbers from 1 to 10 using a set comprehension
even_numbers_set = {x for x in range(1, 11) if x % 2 == 0}

print(even_numbers_set)

{2, 4, 6, 8, 10}

In [68]:

# Create a set of odd numbers from 1 to 10 using a set comprehension
odd_numbers_set = {x for x in range(1, 11) if x % 2 != 0}

print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [69]:
#. Find the union of two sets
# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the two sets using the union() method
union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5}

In [72]:
#intergation of sets
a={1,2,3,4,6}
b={9,8,7,6.5}
c=a.union(b)
print(c)

{1, 2, 3, 4, 6, 6.5, 8, 9, 7}

In [73]:
# Find the difference between two sets.
# Define the sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the difference between set1 and set2 using the difference() method
difference_set = set1.difference(set2)

print(difference_set)

{1, 2}

In [74]:
# Check if a set is a subset of another set.
# Define the sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2
if set1.issubset(set2):
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

In [75]:
#. Check if a set is a superset of another set.
# Define the sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Check if set1 is a superset of set2
if set1.issuperset(set2):
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [76]:
# Create a set from a list.

my_list = [1, 2, 3, 4, 5]

my_set = set(my_list)

print(my_set)

{1, 2, 3, 4, 5}

In [77]:
#. Convert a set to a list.
# Define the set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list
my_list = list(my_set)

print(my_list)

[1, 2, 3, 4, 5]

In [78]:
# remove a random element from a set
import random

# Define the set
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set
removed_element = my_set.pop()

print("Removed element:", removed_element)
print("Set after removal:", my_set)

Removed element: 1
Set after removal: {2, 3, 4, 5}

In [79]:
#Pop an element from a set.
my = {1, 2, 3, 4, 5}
my.pop()
print(my)

{2, 3, 4, 5}

In [80]:
#18. Check if two sets have no elements in common.

# Define the sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets have no elements in common
if set1.isdisjoint(set2):
    print("The sets have no elements in common")
else:
    print("The sets have elements in common")

The sets have no elements in common

In [ ]:
#symmetic defference
# Define the sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the symmetric difference between set1 and set2 using the symmetric_difference() method
symmetric_difference_set = set1.symmetric_difference(set2)

print(symmetric_difference_set)

In [81]:
#Update a set with elements from another set.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1 |= set2
print(set1)

{1, 2, 3, 4, 5}

In [82]:
#Create a set of the first 5 prime numbers.
prime_numbers = {2, 3, 5, 7, 11}
print(prime_numbers)

{2, 3, 5, 7, 11}

In [83]:
#22. Check if two sets are identical.
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [84]:
#Create a frozen set.
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [85]:
# Check if a set is disjoint with another set.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {3, 4, 5}

if set1.isdisjoint(set2):
    print("set1 and set2 are disjoint.")
else:
    print("set1 and set2 are not disjoint.")

if set1.isdisjoint(set3):
    print("set1 and set3 are disjoint.")
else:
    print("set1 and set3 are not disjoint.")

set1 and set2 are disjoint.
set1 and set3 are not disjoint.

In [86]:
#Create a set of squares of numbers from 1 to 5
squares_set = {x ** 2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

In [87]:
#. Filter out all even numbers from a set.
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
filtered_set = {x for x in original_set if x % 2 != 0}
print(filtered_set)

{1, 3, 5, 7, 9}

In [88]:
#. Multiply all elements in a set by 2
original_set = {1, 2, 3, 4, 5}
doubled_set = {x * 2 for x in original_set}
print(doubled_set)

{2, 4, 6, 8, 10}

In [89]:
# Create a set of random numbers
import random

# Set the range and size of the set
set_size = 5
min_value = 1
max_value = 10

# Generate a set of random numbers
random_set = {random.randint(min_value, max_value) for _ in range(set_size)}

print(random_set)

{2, 4, 5, 6, 7}

In [90]:
#. Check if a set is empty.
my_set = set()

# Method 1: Using a conditional statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

# Method 2: Using the bool() function
if bool(my_set) == False:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.
The set is empty.

In [91]:
#. Create a nested set (hint: use frozenset).

nested_set = {frozenset({1, 2, 3}), frozenset({'a', 'b', 'c'})}
print(nested_set)

{frozenset({1, 2, 3}), frozenset({'a', 'b', 'c'})}

In [93]:
#. Compare two sets
set1 = {1, 2, 3}
set2 = {3, 2, 1}
set3 = {1, 2, 3, 4}

# Check if two sets are equal
if set1 == set2:
    print("set1 and set2 are equal.")
else:
    print("set1 and set2 are not equal.")

# Check if two sets are not equal
if set1 != set3:
    print("set1 and set3 are not equal.")
else:
    print("set1 and set3 are equal.")

# Check if a set is a subset of another set
if set1 <= set3:
    print("set1 is a subset of set3.")
else:
    print("set1 is not a subset of set3.")

# Check if a set is a superset of another set
if set3 >= set1:
    print("set3 is a superset of set1.")

set1 and set2 are equal.
set1 and set3 are not equal.
set1 is a subset of set3.
set3 is a superset of set1.

In [94]:
#Create a set from a string
my_string = "hello"
my_set = set(my_string)
print(my_set)

{'h', 'o', 'e', 'l'}

In [95]:
#Convert a set of strings to a set of integers
set_of_strings = {"1", "2", "3", "4", "5"}
set_of_integers = {int(x) for x in set_of_strings}
print(set_of_integers)

{1, 2, 3, 4, 5}

In [96]:
#. Convert a set of integers to a set of strings
set_of_integers = {1, 2, 3, 4, 5}
set_of_strings = {str(x) for x in set_of_integers}
print(set_of_strings)

{'4', '3', '2', '5', '1'}

In [97]:
#. Create a set from a tuple.
set_of_integers = {1, 2, 3, 4, 5}
set_of_strings = {str(x) for x in set_of_integers}
print(set_of_strings)

{'4', '3', '2', '5', '1'}

In [98]:
# Convert a set to a tuple
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

In [99]:
# Find the maximum value in a set.
my_set = {1, 5, 3, 8, 2, 6}
max_value = max(my_set)
print("The maximum value in the set is:", max_value)

The maximum value in the set is: 8

In [ ]:
#Find the minimum value in a set.
my_set = {1, 5, 3, 8, 2, 6}
max_value = min(my_set)
print("The maximum value in the set is:", min_value)

In [100]:

# Collect user input as a string
user_input = input("Enter elements separated by spaces: ")

# Split the input string into a list of elements
input_list = user_input.split()

# Convert the list of elements into a set
user_set = set(input_list)

print("Set created from user input:", user_set)

Enter elements separated by spaces: 45
Set created from user input: {'45'}

In [101]:
#2. Create a set of the first 5 Fibonacci numbers.
# Function to generate Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    while len(fibonacci_set) < n:
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

# Create a set of the first 5 Fibonacci numbers
fibonacci_set = generate_fibonacci(5)
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [102]:
#Remove duplicates from a list using sets.
# Original list with duplicates
original_list = [1, 2, 3, 4, 2, 3, 5, 6, 1]

# Convert the list to a set to remove duplicates
unique_set = set(original_list)

# Convert the set back to a list
unique_list = list(unique_set)

print("Original list:", original_list)
print("List after removing duplicates:", unique_list)

Original list: [1, 2, 3, 4, 2, 3, 5, 6, 1]
List after removing duplicates: [1, 2, 3, 4, 5, 6]

In [103]:
#. Check if two sets have the same elements, regardless of their count.
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}
set3 = {1, 2, 2, 3, 3, 4, 5}

if set1 == set2:
    print("set1 and set2 have the same elements.")
else:
    print("set1 and set2 do not have the same elements.")

if set1 == set3:
    print("set1 and set3 have the same elements.")
else:
    print("set1 and set3 do not have the same elements.")

set1 and set2 have the same elements.
set1 and set3 have the same elements.

In [104]:
# Create a set of the first `n` powers of 2.
n = 5
powers_of_2_set = {2 ** i for i in range(n)}
print(powers_of_2_set)

{1, 2, 4, 8, 16}

In [105]:
#. Find the common elements between a set and a list.
my_set = {1, 2, 3, 4, 5}
my_list = [4, 5, 6, 7, 8]

common_elements = my_set & set(my_list)
print("Common elements:", common_elements)

Common elements: {4, 5}

In [ ]:
#Create a set of the first `n` triangular numbers.
n = 5  # Number of triangular numbers
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n + 1)}
print(triangular_numbers_set)

In [106]:
#. Check if a set contains another set as a subset.
# Define sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}
set3 = {6, 7, 8}

# Using issubset() method
if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

if set3.issubset(set1):
    print("set3 is a subset of set1")
else:
    print("set3 is not a subset of set1")

# Using subset operator
if set2 <= set1:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

if set3 <= set1:
    print("set3 is a subset of set1")
else:
    print("set3 is not a subset of set1")

set2 is a subset of set1
set3 is not a subset of set1
set2 is a subset of set1
set3 is not a subset of set1

In [107]:
#9. Create a set of alternating 1s and 0s of length `n`.
n = 10  # Length of the set
alternating_set = {i % 2 for i in range(n)}
print(alternating_set)

{0, 1}

In [110]:
#merge multiplr dets into one
s1={1,2,3}
s2={4,5,6,7,8,9,10,11,12}
d= s1.union(s2)
print(d)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}